<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>
<!-- JDBC Database connection settings -->
<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/tushardb</property>
<property name="connection.username">root</property>
<property name="connection.password">Tushar@43</property>
<!-- Echo the SQL to stdout -->
<property name="show_sql">true</property>
<!-- Set the current session context -->
<property name="hbm2ddl.auto">create-drop</property>
<mapping class="TheaterMovies.Theatre"/>
</session-factory>
</hibernate-configuration>